body{
    font-family: 'JetBrains Mono',monospace;
    align-items: center;
    text-align: center;
}
.container{
    width: 600px;
    margin: auto;
    margin-top: 30px;
}

input{
    font-family: 'JetBrains Mono',monospace;
}